/build
/*.*
/dist
node_modules/
/src/api
/src/openapi
/postinstall.js
/postbuild.js
/src/globals.d.ts
/src/index.tsx
/src/Config.js
/src/Config.js
/src/components/modals/moduleSettings/
*.config.js
*.config.ts
