.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.btnsFooter {
    background-color: red;
}

.infoBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.label {
    width: 10%;
}

.input {
    width: 90%;
    word-break: break-all
}