.table {
    margin: 10px;
}

.titleWrapper {
    // display: flex;
    // width: 100%;
    // word-wrap: break-word;
    // overflow-wrap: break-word;
    // hyphens: auto;
}

.title {
    padding: 5px;
    hyphens: auto;
    max-width: 600px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.titleTask {
    padding-top: 5px;
    display: flex;
    margin-left: 5px;
    flex-direction: row;
    width: 100%;
}

.titleTask> :first-child {
    margin-right: 10px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.titleWrapperContaner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.btnLink {
    color: #2A7FFF;
    text-decoration: underline;
    /* Подчеркивание */
}

.btnLink:visited {
    color: purple;
    /* Цвет текста посещенной ссылки */
}

.btnLink:hover {
    color: red;
    /* Цвет текста при наведении */
    text-decoration: none;
    /* Убираем подчеркивание при наведении */
}

.btnLink:active {
    color: darkred;
    /* Цвет текста при клике */
}